.App {
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  margin: 10px;
}

.container {
  background-color: rgb(151, 150, 150);
  width: 60vw;
  height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  margin: auto;
}